.register form input {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
  text-align: left;
}

.register {
  display: flex;
  justify-content: left;
  padding-top: 10px;
}

.texto_register {
  color: black !important;
}

.name,
.user,
.email,
.birth_date,
.domicilio,
.contraseña {
  margin-bottom: 2vh;
  width: 60vw;
  padding: 4%;
  border-radius: 10px;
  border: none !important;
  outline: none;
}
.enviar4 {
  background-color: #1259c3;
  color: white;
  display: flex;
  justify-content: left;
  text-align: center;
}
.register input.enviar4:hover {
  background-color: #0022aa;
}

.register input:hover {
  background-color: #ebedf6;
  box-shadow: inset 0 0 0 1px #08b;
}
.perfil {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.profile {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-between;
}

/*--------------------------------------------------------------------------*/
/*Visualizacion Tablet*/
/*--------------------------------------------------------------------------*/

@media (min-width: 361px) {
  .name,
  .user,
  .email,
  .birth_date,
  .domicilio,
  .contraseña {
    width: 20vw;
  }
}
/*--------------------------------------------------------------------------*/
/*Visualizacion Desktop*/
/*--------------------------------------------------------------------------*/
@media (min-width: 769px) {
  .name,
  .user,
  .email,
  .birth_date,
  .domicilio,
  .contraseña {
    width: 30vw;
  }
}
