.register form input {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
  text-align: left;
  }

  .register {
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }